/*global style*/
h1{
  font-size: 25px;
}
p, span{
  font-size: 14px;
}
hr{
  opacity: 0.4;
}
main{
  margin:10px 0;
  padding:0 20px;
  transition: all 0.4s ease-in-out;
  left: 0;
  position: relative;
}
main.active-drawer{
  left:470px;
}
@media (max-width: 1024px) {
  main.active-drawer{
    left:0;
  }
}
main h1{
  margin-bottom:15px;
}
main img{
  border:1px solid rgb(236, 236, 236);
  margin-bottom: 25px;
  max-width: 500px;
  width: 100%;
}
/*global style*/