/*global style*/
h1{
  font-size: 25px;
}
p, span{
  font-size: 14px;
}
hr{
  opacity: 0.4;
}
main{
  margin:10px 0;
  padding:0 20px;
  transition: all 0.4s ease-in-out;
  left: 0;
  position: relative;
  width: 50%;
}
main.active-drawer{
  left:470px;
}
@media (max-width: 1024px) {
  main.active-drawer{
    left:0;
  }
  main{
    width: 100%;
  }
}
main h1{
  margin-bottom:15px;
}
main img{
  border:1px solid rgb(236, 236, 236);
  margin-bottom: 25px;
  max-width: 500px;
  width: 100%;
}
.clear-all-container{
    position: fixed;
    left: -414px;
    cursor:pointer;
    width: 414px;
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
    bottom: 0;
    z-index: 100;
    color: #fff;
    background-color: rgb(27 27 27);
    transition: all 0.4s ease-in-out;
}
.clear-all-container.active{
    left: 0;
}
/*global style*/